@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .row .col {
        width: 100%;
    }
    .steps, .why-us {
        margin-bottom: 0;
    }
    .why-us {
        padding: 3rem 0;
        background-color: black;
        text-align: center;
    }
    .col-right {
        margin-top: 2rem;
    }
}
@media screen and (min-width: 768px) {
    body::-webkit-scrollbar {
        display: none;
        overflow-y: scroll;
    }    
}
@media screen and (max-width: 1140px) {
    .container {
        max-width: 100%;
    }
}

